<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<title>Data</title>
</head>
<body>
    
    
    <table style="border-collapse: collapse;">
        <thead>
            <tr>
                <td>
                    Tarih
                </td>
                <td>
                    Toplam İşlem Miktari (MWh)
                </td>
                <td>
                    Toplam İşlem Tutarı (TL)
                </td>
                <td>
                    Ağırlık Ortalama Fiyat (TL/MWh)
                </td>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
            <div th:each="dataList : ${allData}">
            <tr th:each="data,status : ${dataList.value}">
                <td th:if="${status.last}" th:text="*{data.conract}"></td>
                <td th:if="${status.last}" th:text="*{data.totalQuantity}"></td></span>
                <td th:if="${status.last}" th:text="${#numbers.formatDecimal(data.totalPrice,1,'COMMA',2,'POINT')}"></td>
                <td th:if="${status.last}" th:with="weightedAverage = ${data.totalPrice / data.totalQuantity} " th:text="${#numbers.formatDecimal(weightedAverage,1,2)}"></td>
            </tr>
        </div>
        </tbody>
    </table>

    

    

    </div>
</body>
</html>